/* 
 css/styles.css 
 Student Name: Besan Mahmoud Ahmad
 Student Id: 12323948
*/

:root {
    --bg: #faf7f2;
    --text: hwb(0 12% 88%);
    --muted: #6b6b6b;
    --brand: #216869;
    --brand-2: #49a078;
    --card: #ffffff;
    --border: #e9e3db;
}


body {
    margin: 0;
    font-family:  sans-serif,"Rubik",   -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--text);
    background: var(--bg);
    line-height: 1;
    
}



.site-header{
  background-color: var(--border); 
  border-bottom: 1px solid var(--border);
  position: sticky;
  top:0;
  z-index: 1000;
 
 
}



.navbar{
max-width: 1100px;
margin: 0 auto;
padding: 0.01rem 0.35rem;
display: flex;
align-items: center;
justify-content: space-between;
gap:1rem;

}


.logo{

font-family: "Rubik" ,sans-serif;
font-size: 1.4rem;
color: var(--brand);
letter-spacing: 0,2px;
font-weight: bold;

}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  
}

.nav-links a {
  text-decoration: none;
  color: var(--brand);
  font-weight: 500;
  padding: 0.35rem 0.5rem;
  border-radius: 6px;
  transition: color 200ms ease, background-color 200ms ease, transform 120ms ease;
  font-weight: bold;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--brand);
  background-color: hwb(0 70% 25%);
  transform: translateY(-2px);
  outline: none;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.75rem 1rem;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    
  }
}



.hero{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    color:#faf7f2;
    text-align: center;
    padding: 170px 20px;
    position:relative;
    overflow: hidden;
    font-weight: bolder;

}



.hero::before{

 content: "";
 position: absolute;
 inset:0 ;
 background-color: rgba(0, 0, 0, 0.044);
 z-index: 0;

}



.hero-content{
    position: relative;
    z-index: 1;
    max-width: 690px;
    margin: 0 auto;

}

.hero .tagline{
    font-family: "Rubik" ,sans-serif;
    color: #0a2b1c;
    letter-spacing: 0.25px;
    margin-bottom: 12px;
    font-size: small;

    background-color: rgba(68, 155, 129, 0.99);
    padding: 6px 12px;
    border-radius: 30px;
    display: block;
    width: fit-content;
    margin: 0 auto 12px auto ;

}

.hero h1{
    font-family: "Rubik" ,sans-serif;
    font-size: 2.5rem;
    margin: 0 0 0.75rem 0;
    line-height: 1.05;
}

.hero .subtitle{
font-size: 1rem;
margin: 0 0 0.75rem 0 ;
color: #e9e3db;
}


.btn{
    display: inline-block;
    background: var(--brand);
    color:  #ffffff;
    text-decoration: none;
    padding: 0.7rem 1.25rem;
    border-radius: 30px;
    font-weight: 600;
    transition:transform 160ms ease ,box-shadow 160ms ease;
    box-shadow: 0 8px 20px  rgba(33,104,105,0.08);

}



.btn:hover,
.btn:focus{
    transform: translateY(-5px);
    box-shadow: 0 14px 32px  rgba(33, 104, 105, 0.12);
     background-color:var(--brand-2);
}


@media(max-width: 768px){
    .hero{
        padding: 90px 14px;
    }
    .hero h1{
        font-size: 1.9rem;
    }
    .hero p{
        font-size: 1rem;
    }
}




.about-chef{
    display: flex;
    gap:2rem;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px ;
    flex-wrap: wrap;
}

.about-card,
.chef-card{
    background-color: var(--card);
    padding:1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.03);
    flex:1 1 450px;
    border: 1px solid rgba(233, 227, 219, 0.5);


}




.about-highlights{
    list-style:none;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.about-card .prag2{
    color: var(--muted);
    font-size: 400;
}

.about-highlights li{
    background-color:#faf7f2e3 ;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    color: var(--text);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03); 
    border: 1px solid rgba(233, 227, 219, 0.5); 
}




.chef-note{
    font-style: italic;
    border-left: 4px ;
    padding-left: 12px;
    color: var(--text);
    margin: 1rem 0;
}
.about-text{
    line-height: 1.5;
}

.Ask{
    color: var(--muted);
    font-size: 400;
}

.about-chef h2{
    font-weight: bold;

}


@media(max-width:768){
     .about-chef{
        flex-direction: column;
        gap:1.5rem;
        padding:40px 16px;
    }
    .about-card,
    .chef-card{
        flex: 1 1 100%;
    }

    .about-highlights{
        flex-direction: column;
         gap:0.5erm;
}
    .about-highlights li{
        width: fit-content;
        margin: 0 auto;
    }
}





.menu-section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}


.menu-section h2{
    text-align:left;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--text);
}


.menu-grid{
    display: flex;
    gap:2rem ;
    justify-content: center;
    flex-wrap: nowrap;
}

.menu-card{
    background-color:var(--card) ;
    padding: 1.5rem;
    border-radius:12px ;
    box-shadow:0 2px 6px rgba(0,0,0,0.06) ;
    border:1px solid rgba(233,227,219,0.6) ;
    width:100% ;
    max-width: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 



.menu card h3 {
    margin-bottom:1rem ;
    color:var(--brand);
    font-size: 1.1rem;
    font-weight: bold;
}


.menu-card ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu-item:not(:last-child){

    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed rgba(76, 175, 80, 0.3);
}




.item-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item-name{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
}



.item-price{
    font-size: 1rem;
    font-weight: 600;
    color: var(--brand);
}



.item-desc{
    font-size: 0.70rem;
    color: var(--muted);
    margin: 4px;
}



.menu-note{
 margin-top: 2rem;
 text-align: left;
 font-size: 0.85rem;
 color: var(--muted);

}



.menu-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}





@media(max-width:768px){
    .menu-grid{
        flex-direction: column;
        gap:1.5rem;
    }

    .menu-card{
        max-width: 100%;
    }
}






.contact-info{
    display: flex;
    flex-wrap:wrap;
    gap:2rem ;
    justify-content:center;
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;

}





.info-box{
    background-color: var(--card);
    border: 1px solid var(--border);
    border-radius :12px; ;
    padding:1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05) ;
    max-width: 480px;
    flex:  1 1 320px;

}

.info-box h3{
    font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;

}

.hours-list{
    list-style: none;
    padding:0 ;
    margin: 0;
}

.hours-list li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(76, 175, 80, 0.3);
    padding: 0.5rem 0;
    color: var(--text);
}


.day{
    color:var(--text);
}

.item{
    color: var(--muted);
}

.contact-line{
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--text);
}

.phone{
    color: var(--text);
    margin: 0 6px;
    font-weight: bold;
}

.email{ 
    color: var(--brand);
    text-decoration: none;
    
}


.note{
    color: var(--muted);
    margin-top: 0.75rem;
    font-size: 0.85rem;
    font-weight: 500;
}



@media(max-width:768px){
    .contact-info{
        flex-direction: column ;
        align-items: center;
       
    }

     .info-box{
        max-width: 100%;
     }
        
}







.find-us {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.find-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 22px;
  gap: 1rem;
  
}


.find-text {
  background-color: var(--card);
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom:1px;
  padding-left: 20px;
  padding-right: 90px;
  width: 50%;
  height: 218px; 
  margin-left: 0;
  margin-right:0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}


.find-map {
  background-color: var(--card);
  border-radius: 12px;
  padding-left:0;
  padding-right: 0;
  padding-top:0.3px;
  padding-bottom:0.2px;
  width: 60%;
  height: 230px;
  margin-left:0 ;
  margin-right:0 ;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
    
}


.map-image {
  width: 500%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}


.find-text h3{
font-weight:800;
font-size:20px;
padding-bottom:6px;
 margin-bottom:3px;
}

.address{
    color:var(--text);
    font-size:larger;
    font-weight:400;
    letter-spacing:0.01px;

}

.directions{
    color:var(--muted);
    padding-bottom: 80px;
}



@media(max-width:780px){
    .find-card{
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    } 
    
    .find-text{
        text-align: center;
    }
    .find-map{
        justify-content: center;
    }
    .map-image{
        min-width: 100%;
    }
}






.site-footer{
    background-color: var(--border);
    color: var(--text);
    text-align: center;
    margin-top: 3rem;
    padding: 1.5rem;
    border-top:  1px solid rgba(0 ,0 ,0 ,0.2);
}


.site-footer a{
    color: var(--brand);
    text-decoration: none;
    font-size: 500;
}


.site-footer a:hover{
    color:var(--brand-2);
}
























































